body {
    background-color: #c8d3f6;
    font-family: 'serif';
    flex-direction: column;
}


@media screen and (min-width:600px){
    body {
        font-family: 'Brush Script MT', cursive;
    }
}

