body {
    background-color: #c8d3f6;
    font-family: 'cursive';
    flex-direction: column;
}


@media screen and (min-width:641px){
    body {
        font-family: 'Brush Script MT', cursive;
    }
}

