.hi-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin: 10px;
}
.hi-img {
    height: 150px;
    width: 100px;
}
.hi-img img {
    height:100%;
    width: 100%;
}
.hi-text {
    width: 200px;
    height: 200px;
}
.hi-text h1 {
    font-size: 35px;
}
.hi-text h2 {
    margin-top: -10px;
    font-size: 15px;
    color: rgb(90, 12, 90);
}
.hi-text h4 {
    margin-top: -3px;
    font-size: 15px;
    color: rgb(90, 12, 90);
}

@media screen and (min-width:900px) {
    .hi-box {
        height: 350px;
    }
    .hi-img {
        height: 350px;
        width: 350px;
    }
    .hi-img img {
        height:100%;
        width: 100%;
    }
    .hi-text {
        width: 500px;
        height: 350px;
    }
    .hi-text h1 {
        font-size: 70px;
    } 
     .hi-text h2 {
        margin-top: -20px;
        font-size: 25px;
    }
    .hi-text h4 {
        font-size: 18px;
        margin-right: 20px;
    } 
}
