.hi-box {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
    background-color: yellow;
}
.hi-img {
    height: 250px;
    width: 200px;
}
.hi-img img {
    height:100%;
    width: 200px;
}
.hi-text {
    margin-left: 5px;
    width: 200px;
    height: 250px;
}
.hi-text h1 {
    font-size: 35px;
}
.hi-text h2 {
    margin-top: -10px;
    font-size: 16px;
    color: rgb(90, 12, 90);
}
.hi-text h4 {
    font-size: 13px;
    color: rgb(90, 12, 90);
}



@media screen and (min-width:641px) {
    .hi-box {
        display: flex;
        justify-content: center;
        height: 350px;
        width: 100%;
    }
    .hi-img {
        height: 350px;
        width: 350px;
    }
    .hi-img img {
        height:100%;
        width: 300px;
    }
    .hi-text {
        margin-left: 25px;
        width: 600px;
        height: 350px;
    }
    .hi-text h1 {
        font-size: 70px;
    } 
     .hi-text h2 {
        margin-top: -20px;
        font-size: 25px;
        color: rgb(90, 12, 90);
    }
    .hi-text h4 {
        font-size: 18px;
        margin-right: 20px;
        color: rgb(90, 12, 90);
    } 
}
