.project-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.project-heading {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}
.project-heading-left {
    display: flex;
    align-items: center;
    height: 100px;
    width: 200px;
}
.project-heading-left h1 {
    font-size: 45px;
}
.project-heading-right {
    width: 100px;
    height: 100px;
}
.project-heading-right img {
    height: 100%;
    width: 100%;
}
.project-desc {
    width: 270px;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
}
.proj-minimize {
    height: 80px;
    border-radius: 10px;
    width: 100%;
}
.projTitle {
    display: flex;
}
.proj-title-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.proj-title {
    margin-left: 10px;
    font-size: 125%;
    color: rgb(69, 28, 69);
}
.proj-subTitle {
    margin-top: -12px;
    margin-left: 10px;
    font-size: 50%;
    color: rgb(127, 52, 127);
}
.proj-title-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72.25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.proj-expand {
    margin-top: -12px;
}

.proj-purpose {
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
}
.proj-expand h3 {
    margin-left: 20px;
    margin-right: 20px;
}
.proj-expand li {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.proj-feature {
    color: rgb(119, 12, 169);
}
.projOne {
    height: 80px;
    overflow: hidden;
}
.projTwo {
    height: 80px;
    overflow: hidden;
}
.projThree {
    height: 80px;
    overflow: hidden;
}
.projFour {
    height: 80px;
    overflow: hidden;
}
.expand {
    height: auto;
}

@media only screen and (min-width:900px) {
    .project-heading {
        height: 300px;
    }
    .project-heading-left{
        height: 300px;
        width: 450px;
    }
    .project-heading-left h1 {
        font-size: 90px;
    }
    .project-heading-right {
        width: 400px;
        height: 300px;
    }
    .project-heading-right img {
        height: 100%;
        width: 100%;
    }
    .project-desc {
        width: 820px;
        border-radius: 15px;
    }
    .projOne {
        height: 150px; 
    }
    .projTwo {
        height: 150px; 
    }
    .projThree {
        height: 150px;
    }
    .projFour {
        height: 150px;
    }
    .proj-minimize {
        height: 150px;
        border-radius: 15px;
    }
    .proj-title-left {
        width: 550px;
        height: 150px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .proj-title {
        margin-left: 40px;
        font-size: 250%;
    }
    .proj-subTitle{
        margin-top:-12px;
        margin-left: 40px;
        font-size: 150%;
    }
    .proj-title-right {
        width: 270px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .proj-expand {
        margin-top: -12px;
    }
    .proj-purpose {
        font-size: 25px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .proj-expand h3 {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 25px;
    }
    .proj-expand li {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 25px;
    }   
}