.techSkill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.techSkill-heading {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}
.techSkill-title-left {
    display: flex;
    align-items: center;
    height: 100px;
    width: 200px;
}
.techSkill-title-left h1 {
    font-size: 40px;
}

.techSkill-title-right {
    width: 100px;
    height: 100px;
}

.techSkill-title-right img {
    height: 100%;
    width: 100%;
}

.techSkill-minimize {
    height: 80px;
    border-radius: 10px;
    width: 100%;
}

.techSkillTitle {
    display: flex;
}
.techSkill-desc {
    width: 270px;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
}
.techSkill-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.techSkill-title {  
    margin-left: 20px;
    font-size: 180%;
    color: rgb(69, 28, 69);
}
.techSkill-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.techSkill-expand li{
    margin-top: 5px;
    margin-left:30px;
    font-size: 20px;
}
.languages {
    height: 80px;
    overflow: hidden;
}
.tools {
    height: 80px;
    overflow: hidden;
}
.frameworks {
    height: 80px;
    overflow: hidden;
}
@media only screen and (min-width:900px) {
    .techSkill-heading {
        height: 300px;
    }
    .techSkill-title-left {
        height: 300px;
        width: 450px;
    }
    .techSkill-title-left h1 {
        font-size: 90px;
    }    
    .techSkill-title-right {
        width: 400px;
        height: 300px;
    }        
    .techSkill-minimize {
        height: 150px;
        border-radius: 15px;
    }
    .techSkill-desc {
        width: 820px;
        border-radius: 15px;
    }
    .techSkill-left {
        width: 550px;
        height: 150px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .techSkill-title {  
        margin-left: 40px;
        font-size: 320%;
    }
    .techSkill-right {
        width: 270px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .techSkill-expand li{
        margin-top: 10px;
        margin-left:50px;
        font-size: 25px;
    }
    .languages {
        height: 150px;
        overflow: hidden;
    }
    .tools {
        height: 150px;
        overflow: hidden;
    }
    .frameworks {
        height: 150px;
        overflow: hidden;
    }
        
}